<div class="aui-sidebar-group aui-sidebar-group-tier-one">
	<div class="aui-nav-heading" title="Stuff">
		<strong>Links</strong>
	</div>
	<ul class="aui-nav">
		<li 
		#if($mode=="maps")
			class="aui-nav-selected" 
		#end
		>
			<a class="aui-nav-item" href="$baseURL/plugins/servlet/teammap" title=""> 
				<span class="aui-icon aui-icon-small aui-iconfont-table-header-row"></span>
				<span class="aui-nav-item-label">My Team's Maps</span>
			</a>
		</li>
		
		<li
		#if($mode=="setting")
			class="aui-nav-selected" 
		#end
		>
			<a class="aui-nav-item" href="$baseURL/plugins/servlet/teamrelations" title="">
				<span class="aui-icon aui-icon-small aui-iconfont-view-table"></span>
				<span class="aui-nav-item-label">My Team's Relations</span>
			</a>
		</li>
	</ul>
</div>