<div class="aui-sidebar-group aui-sidebar-group-actions">

	<div class="aui-nav-heading" title="Actions">
		<strong>Actions</strong>
	</div>

	<ul class="aui-nav" title="Page actions">
		<li><a class="aui-nav-item saveChartTrigger" href="#" title="Save">
				<i class="fa fa-hdd-o fa-fw" aria-hidden="true"></i>
				Save Chart
		</a></li>
		<li><a class="aui-nav-item generateDownloadTrigger" href="#" title="export">
				<i class="fa fa-table fa-fw" aria-hidden="true"></i>
				Export Results
		</a></li>
	</ul>
</div>