<div class="ghx-controls">
	<button class="aui-button" 
	#if($relations.size()<1)
		disabled
	#end
	id="report-a-relationship">Report a Relationship</button>
	#parse("templates/reportRelationshipDialog.vm")

	
</div>

<div class="ghx-container" id="relationships-box">
	#foreach($relationship in $relationships)
		#parse("templates/aRelationship.vm")
	#end
</div>