<table class="aui aui-table-sortable"  id="relation-table" 
style="padding:10px;
#if($relations.size()<1)
	opacity:0
#end
">
    <thead>
        <tr>
            <th style="width:12%">Title</th>
            <th class="aui-table-column-unsortable" >Description</th>
            <th style="width:10%">Color</th>
            <th class="aui-table-column-unsortable" style="width:22%">Phrases</th>
            <th class="aui-table-column-unsortable" style="width:10%">Active</th>
            <th style="width:10%">Occurrence</th>
            <th style="width:10%">Owner</th>
            <th class="aui-table-column-unsortable" style="width:10%">Action</th>
        </tr>
    </thead>
    <tbody>
    	#foreach($relation in $relations)
	        #parse("templates/relationRow.vm")
       	#end
    </tbody>
</table>

<br>
