<html>
<head>
<title>Team Map</title>
<meta name="decorator" content="atl.general">
#set($pluginResource="$baseURL/download/resources/co.miracleLab.jira.TeamMap:TeamMap-resources")
#set($avatarUrl="$baseURL/secure/useravatar")
$webResourceManager.requireResource("co.miracleLab.jira.TeamMap:TeamMap-resources")
$webResourceManager.requireResource("co.miracleLab.jira.TeamMap:my-team-maps-servlet-resources")
</head>
<body>
		<!-- AUI Sidebar -->
		<div class="aui-sidebar" aria-expanded="false">
			<div class="aui-sidebar-wrapper">
				<div class="aui-sidebar-body">
					#parse("templates/helper/slideBarHeader.vm")					
					<nav class="aui-navgroup aui-navgroup-vertical">
						<div class="aui-navgroup-inner">
							##parse("templates/helper/slideBarAction.vm")
							#parse("templates/helper/slideBarNav.vm")
						</div>
					</nav>
				</div>

				<div class="aui-sidebar-footer">
					 <a
						class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy"
						title="Collapse sidebar ( [ )"> <span
						class="aui-icon aui-icon-small"></span>
					</a>
				</div>
			</div>
		</div>
		<!-- end AUI Sidebar -->
		 #parse("templates/helper/header.vm")
		<div class="aui-page-panel">
        <div class="aui-page-panel-inner">
			<div class="aui-group">
				<div class="aui-item filters-section adjustable-heights">
					#parse("templates/filters-section.vm")
				</div>
				<div class="aui-item relations-section adjustable-heights">
					#parse("templates/relations-section.vm")
				</div>
				<div class="aui-item">
					#parse("templates/team-relation-map.vm")
				</div>
				
			</div>
		</div>
    </div>
</body>
</html>